@import 'style.css';

.cart-section{
    max-width: 950px;
    margin: auto;
    margin-top: 30px;
    width: 100%;
}
.cart-payment-field{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.cart-header{
    display: flex;
    flex-direction: column;
    margin:-20;
}
.cart-header a{
    font-size: 12px;
}
.cart-body{
    margin-top: 15px;
    max-width: 700px;
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    
}
.cart-delivery{
    display: flex;
    flex-direction: column;
    gap:1rem
}
.card-left{
    display: flex;
    align-items: center;
    
}
.cart-item{
    display: flex;
    background-color: var( --text-color-extra-light);
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
}
.cart-item-image img{
    width: 100px;
    
}
.cart-item-name{
    font-size: 14px;
}
.cart-item-price .discounted-price{
    font-weight: bold;
}
.marked-price{
    color: var(--text-color-extra-dark);
    font-size: 10px;
    text-decoration: line-through;
}
.card-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.qty-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}
.qty-price select{
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: var(--background-color-light);

}
.qty-price button{
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: var(--text-color-light);
    cursor: pointer;
    color: var(--text-color-extra-light);
}
.delete-cart-item{
    width:105px;
    padding:8px 10px;  
    border: none;
    border-radius: 5px;
    background-color: var(--text-color);
    cursor: pointer;
    color: var(--text-color-extra-light);
}
.delete-cart-item:hover{
    background-color: var(--text-color-dark);
}
.payment-summary{
    margin-top: 15px;
    padding: 1rem;
    background-color: var(--text-color-extra-light);
    border-radius: 10px;
    height: fit-content;
    
}
.payment-body hr{
    margin-top: 10px;
}
.payment-body-left{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: .5rem
}
.sub-total,.tax,.shipping,.total{
    display: flex;
    justify-content: space-between;
}
.total{
    font-size: 1.2rem;
    font-weight: bold;

}
.customer-address{
    margin-top: 10px;
    background-color: var(--text-color-extra-light);
    padding: 20px;
    border-radius: 10px;
}
.customer-address hr{
    margin:5px 0 5px 0;
}
.shipping-heading{
    display: flex;
    gap:.5rem;
    align-items: center;
    font-weight:500;

}
.shipping-heading p{
    border-radius: 50px;
    background-color: var(--text-color-light);
    height: 20px;
    width: 20px;
    text-align: center;
    color: var(--text-color-extra-light);
    font-weight:bold;
    font-size: 12px;
}
.shipping-info{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .8rem;
    margin-bottom: 10px;
}
.shipping-info input, 
.additional-info textarea{
    padding: 10px;
    width: 100%;
    background-color: var(--background-color-light);
    border: none;
    border-radius: 3px;
}
.shipping-info input:focus,
.additional-info textarea:focus {
    outline-color: var(--secondary-color);
    outline-offset: 2px;
    transition: outline 0.2s ease-in-out;
}
.delivery-choice{
    display: flex;
    font-size: 13px;
    gap: 1rem;
    margin-bottom: 15px;
    align-items: center;
}
.shipping-dtls-submit{
    padding:8px 20px;
    border: none;
    background-color: var(--secondary-color);
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.shipping-dtls-submit:hover{
    background-color: var(--background-color-dark);
    color:var(--text-color-extra-light);
}
