@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #06373d;
    --secondary-color: #ffd900;
    --background-color: #f7f7f7;
    --background-color-light:#eeeeee ;
    --background-color-dark:var(--text-color-dark);
    --text-color: #333;
    --text-color-light: #666;
    --text-color-extra-light: #ffffff;
    --text-color-dark: #000;
    --shadow-color: #ccc;
    --shadow-color-dark: #333;
    --shadow-color-light: #fff;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    list-style: none;
    text-decoration: none;
}
body{
    background-color: var(--background-color-light);
}
.open-submenu{
    display: flex !important;
}
.search-2 .submenu-open{
    color: var(--text-color-extra-light);
    font-size: 40px;

}
.submenu{
    background-color: var(--background-color-light);
    padding: 30px 20px;
    position: absolute;
    z-index: 10000;
    top:0;
    width: 100%;
    display:none
}
.submenu ul{
    display: flex;
    flex-direction: column;
}
.submenu ul li{
  padding: 8px;
  border-radius: 5px;
  width:280px;
}
.submenu ul li:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
    font-weight: 500;
}
.submenu-close{
    position:absolute;
    right: 4%;
    top: 2%;
    color: var(--secondary-color);
}
.delivery-contacts{
    justify-content: center;   
    gap: 3rem;
    padding: 10px;
    
}
.delivery-contacts, .delivery,.contacts{
    display: flex;
    align-items: center;
}

.delivery .material-icons,
.contacts .material-icons {
    color: var(--secondary-color);
}
.delivery span,
.contacts span{
        color: var(--text-color-dark);
}
.contacts{
    gap: 3rem
}

.phone ,.email,.delivery{
    display: flex;
    gap: .4rem
}

.header-container{
    width: 100%;
    display: flex;
    background-color: var(--background-color-dark);
    padding: 20px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
}
.logo a{
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.logo img{
    display: flex;
    position: relative;
    width: 50px;
    height: auto;
    border: none;
}
.logo span{
    color: var(--text-color-extra-light);
    font-size: 30px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.search {
    display: flex;
    gap: .5rem;
}

.search input,
.search-2 input {
    display: flex;
    width: 600px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color-extra-light);
}

.search input:focus {
    outline: none
}

.search-btn {
    background-color: var(--secondary-color);
    border: none;
    padding: 0px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: var(--primary-color);
}
.cart-profile{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--text-color-extra-light);
    padding:0 30px;

}
.profile{
    display: flex;
    gap: .3rem;
    color: var(--text-color-extra-light);
}
.profile .material-icons,
.profile span,
.cart .material-icons,
.cart span{
    color: var(--text-color-extra-light)
}
.cart{
    display: flex;
    align-items: center;
    
    
}
.cart span{
    color: var(--secondary-color);
}
.search-2{
    display: none;
}
.hero-section{
    height: 350px;
    position: relative;
    max-width: 1250px;
    margin: auto;
    overflow: hidden;
    display: flex;
}
.categories{
    position: relative;
    background-color: var(--background-color);
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0);
    width: 300px;;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
.categories p{
    background-color: var(--secondary-color);
    font-weight: 500;
    padding: 8px;
    display: flex;
}
.categories ul{
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    display:flex;
    text-wrap: nowrap;
}
.categories ul hr{
    border-color: var(--text-color-extra-light);
}

.carousel {
    position: relative;
    max-width: 850px;
    margin: auto;
    margin-top: 0;
    overflow: hidden;
    display: flex;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    max-width: 100%;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}
.carousel-dots {
    
    text-align: center;
    margin-top: 10px;
    position: absolute;
    z-index: 1000000;
    right:45%;
    transform: translateX(50%);
    bottom: 5%;
    

}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
}

.dot.active {
    background-color: var(--secondary-color);
}
.ad-poster{
        display: flex;
        transition: transform 0.5s ease;
        overflow: hidden;
        width: 200px;
        
}
.ad-poster img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
   

    
}
.shop-section{
    display: block;
    margin: auto;
    margin-top: 20px;
    max-width: 1250px;
}

.shop-header h2{
    color: var(--text-color-dark);
    max-width: 1250px;
}
.shop-header p {
    background-color: var(--secondary-color);
    width: 250px;
    padding:3px 8px;
    font-weight: 600;
    border-radius: 0 20px 0 0;
   
    
}
.shop-products{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 8px;
    width: 100%;

}
.shop-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 200px;   
    width: 100%;
    background-color:#fff;
    gap: 1rem;

}
.shop-product img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.price{
    display: flex;
    align-items: baseline;
    gap: .5rem;    
}
.price span{
    font-size: 11px;
    text-decoration: line-through;
}
.price-desc{
    width: 100%;
}
.price-desc p{
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shop-product select{
    background: var(--background-color-light);
    color: var(--text-color-light);
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.shop-product button{
    background-color: var(--text-color-light);
    color: var(--text-color-extra-light);
    border-radius: 5px;
    padding: 5px 10px;
    border: none
}
.added-message{
    justify-content: center;
}
.added-message,
.cart-updated-message{
    display: flex;
    align-items: center;
    color: var(--text-color-extra-light);
    font-size: 12px;

}
.added-message i,
.cart-updated-message i{
    color: rgb(2, 189, 17);
}



/* responsivesness */
@media screen and (max-width:1150px){
    .profile span{
        display:none;
    }
    
    .search input {
        width: 300px;
    }

}
@media screen and (max-width:1200px){
       .ad-poster {
            display: none;
        }
}
@media screen and (max-width:810px){
    .categories ul li {
        font-size: 10px;
        overflow: hidden;
    }
}
@media screen and (max-width:980px){
    .hero-section{
        display: flex;
        flex-direction: column-reverse;   
         
    }
    .categories p {
        background-color: transparent;
    }
    .carousel{
        max-width: 980px;
        display: block;
        height: 100%;
    }
    .carousel-dots {
        display: none;
    }
    .categories {
        position: relative;
        align-items: center;
        justify-content: center;
        margin: auto;
        max-width: 100%;
        width: 100%;
        
    }
   
    .categories ul { 
        align-items: center;
        justify-content: center;
        flex-direction: row;
        max-width: fit-content;    
        text-wrap: normal;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:710px) {
    .search input {
            width: 200px;
        }
}
@media screen and (max-width:620px){
 
    .logo span {
        display: none;
    }
    .cart-profile{
        padding: 8px;
        gap: .2rem;
    }
    .delivery-contacts{
        flex-direction: column;
        gap: .5rem;    
    
    }
   
}
@media screen and (max-width:440px) {
    .logo img{
        width: 100px;
    }
    
    .delivery-contacts{
        display: none;
    }
    
    .header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .search{
        display: none;
    }
    .search-2{
        justify-content: space-around;
        display: flex;
        gap: .5rem;
    }
    .search-2 input{
        width: 250px;
    }
    .cart-profile{
        display: none;
    }
}
@media screen and (max-width:380px) {
        body {
            position: fixed;
            min-width: 320px;
            overflow-x: auto;
            margin: 0;
            padding: 0;
        }
    
        body::-webkit-scrollbar {
            height: 8px;
        }
    
        body::-webkit-scrollbar-thumb {
            background-color: darkgray;
            border-radius: 4px;
        }
}